:root {
    --font-default: 'Raleway', serif;
    --font-title: 'Marcellus', serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body,
button {
    font-family: var(--font-default);
    letter-spacing: 0.7px;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    border: none;
    box-shadow: none;
    cursor: pointer;
}

button:disabled {
    cursor: default;
    background: #c0c0c0;
    border-color: #c0c0c0;
}

input {
    outline: none;
}

input:disabled {
    background-color: #ececec;
    border-color: #c0c0c0;
}

h1,
h2,
h3 {
    font-family: var(--font-title);
    letter-spacing: 1px;
}

a {
    position: relative;
    text-decoration: none;
}

//custom tooltip
a::after {
    content: attr(data-title);
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

a[data-title]:hover::after {
    opacity: 1;
}

main {
    overflow: hidden;
    position: relative;
}

//yellow boble
//https: //9elements.github.io/fancy-border-radius/
main:before {
    content: "";
    position: absolute;
    background: rgba(255, 222, 125, 1);
    animation: morph 15s linear infinite alternate, spin 70s linear infinite, gradient 60s linear infinite alternate-reverse;
    z-index: -1;
    will-change: border-radius, transform;
    pointer-events: none;
    width: 100vmin;
    height: 100vmin;
    left: 5vmin;
    right: auto;
    top: -50vmin;
    bottom: 0;
    background: rgba(255, 255, 255, .07);
    z-index: -1;
}

@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 70% 30%;
    }

    100% {
        border-radius: 40% 60%;
    }
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes gradient {
    0% {
        background-image: linear-gradient(rgba(255, 222, 125, 1), rgba(255, 222, 125, 1), rgba(255, 199, 41, 0.7));
    }

    50% {
        background-image: linear-gradient(rgba(255, 222, 125, 1), rgba(255, 199, 41, 0.7));
    }

    100% {
        background-image: linear-gradient(rgba(255, 222, 125, 1), rgba(255, 222, 125, 1), rgba(255, 199, 41, 0.7));
    }
}

@media only screen and (max-width: 1150px) {

    html,
    body,
    button {
        font-size: 16px;
    }
}