.list {
    &Link {
        & svg {
            width: 42px;
            height: 42px;
            color: #21AD85;
            transition: all 0.3s linear;

            &:hover {
                transform: scale(1.1);
                color: #177a5e;
                transition: all 0.3s linear;
            }
        }
    }

    a {
        position: relative;
        text-decoration: none;
    }

    a::after {
        top: 0%;
        left: 100%;
        transform: translateY(-50%);
    }
}