.wrapperItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    a::after {
        top: -70%;
        left: 60%;
        transform: translateX(-50%);
    }
}

.post {
    padding: 1.5rem;

    &Title {
        margin-bottom: 0.7em;
    }

    &Date {
        text-align: right;
        margin-bottom: 0.5rem;
        color: #14774D;
        font-weight: bold;
        font-family: var(--font-title);
        text-shadow: -1px 1px 0px rgb(0 0 0 / 50%);
    }

    &Description {
        line-height: 1.6;
        text-align: justify;
    }

    &Image {
        margin: 0.5rem 3rem 5rem 0;
        float: left;
    }

    &Keywords {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        font-weight: bold;
        color: #14774D;
        text-shadow: 0px 0px 1px rgb(0 0 0 / 50%);

        &:hover {
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }

    &Link {
        text-decoration: none;
        color: black;
        display: block;

        &:hover {
            box-shadow: 0px 0px 10px -4px rgb(0 0 0 / 30%);

            .postTitle::after {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .post {
        &Image {
            display: none;
        }
    }
}