.button {
    background: #FED963;
    padding: 0.5em 2em;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
    color: black;

    &:hover {
        background: #14775B;
        color: #ffffff;
    }

    &:disabled {
        opacity: 0.5;
    }
}