.screenEgg {
    position: fixed;
    background: #FFE592;
    display: inline-block;
    z-index: 99;
    cursor: pointer;
    transition: transform 0.5s ease-out;

    &:hover {
        transform: translate(0, 0);

        .screenEggIcon:not(.screenEggIconStudio) {
            box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.5);
            opacity: 0;
        }
    }

    &Search {
        transform: translate(100%, 0);
        top: 10%;
        right: 0;
    }

    &Studio {
        top: calc(10% + 48px + 1rem);
        right: 0px;
    }

    &Subscribe {
        transform: translate(-100%, 0);
        bottom: calc(10% + 195px + 1rem);
        padding: 1rem !important;
        left: 0;
    }

    &Social {
        transform: translate(-100%, 0);
        bottom: 10%;
        left: 0;
    }

    &Icon {
        position: absolute;
        font-size: 48px;
        background-color: #FFE592;
        color: #21AD85;
        transform: translate(0, 0);
        transition: opacity 0.3s ease;
        box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.5);

        &Search {
            left: -48px;
            top: 0;
        }

        &Social {
            right: -48px;
            top: 0;
        }

        &Subscribe {
            right: -48px;
            bottom: 0;
        }
    }
}

.screenEgg:not(.screenEggStudio) {
    padding: 7px;
}

@media only screen and (max-width: 539px) {
    .screenEgg {
        padding: 1rem;
        position: static;
        display: block;

        &Subscribe,
        &Search,
        &Studio,
        &Social {
            transition: none;
            transform: none
        }

        &Icon {
            display: none;
        }

        ul {
            display: flex;
            gap: 1rem;
            justify-content: center;

            li {
                margin-bottom: 0;
            }
        }
    }
}