.screenEgg {
    position: fixed;
    background: #FFE592;
    display: inline-block;
    padding: 2rem;
    z-index: 99;
    cursor: pointer;
    transition: transform 0.5s ease-out;

    &Right {
        top: 10%;
        right: 0;

        &.mounted {
            transform: translate(calc(100% - 1.9rem), 0);

            &:hover {
                transform: translate(0, 0);
            }
        }
    }

    &Left {
        bottom: 10%;
        left: 0;

        &.mounted {
            transform: translate(calc(-100% + 1.9rem), 0);

            &:hover {
                transform: translate(0, 0);
            }
        }
    }

    &.preMount {
        transform: translate(0, 0);
    }
}

@media only screen and (max-width: 600px) {
    .screenEgg {
        padding: 1rem;
        position: static;
        display: block;

        &Right,
        &Left {
            transition: none;
            transform: none;

            &.mounted {
                transform: none;
            }
        }

        ul {
            display: flex;
            gap: 1rem;
            justify-content: center;

            li {
                margin-bottom: 0;
            }
        }
    }
}